@charset "UTF-8";
/* base color */
$blue:#00A6FD;
$skyBlue:'#66C7F2';
$hoverBlue:#38bbff;

$color33:#333;
$color66: #666;
$color99: #999;
$colorCc:#ccc;
$colorEf:#EFEFEF;
$red:#FF6054;
$white: #fff;
$disabled:#fbfbfb;

/* size */
$basePadding:.55rem;