@charset "UTF-8";
/* base color */
$blue:#00A6FD;
$skyBlue:'#66C7F2';
$hoverBlue:#38bbff;

$color33:#222222;
$color66: #666;
$color99: #999;
$colorCc:#ccc;
$colorEf:#EFEFEF;
$colorEc:#ECECEC;
$red:#F51212;
$white: #fff;
$disabled:#fbfbfb;
$baseBg: #F5F5F5;

/* size */
$basePadding:.4rem;
$footerHeight:1rem;